<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel='stylesheet' href='/CSS/style.css'/>
</head>
<body>
    {{>header}}
    <h1 id='aboutUs'>About Us</h1>
    <p id='about-para'>PM was created by Narpath Kumar in 2020. It helps in maintaining the password of the user. The main motive for the creation of this feature was to help user autofill their password in their respectiVE form </br> Thank You.</p>
</body>
</html>