<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='CSS/style.css'/>
</head>
<body>
    {{>header}}
    <main id='index-main'>
        <div class="photo-message-div">
            <img id='first-photo' src='https://wisdomplexus.com/wp-content/uploads/2020/04/Self-hosted-Password-Manager.jpg' alt=''/>
            <p>"Treat you password like your toothbrust Don't let anybody else use it, and get a new one every six months. "</p>
        </div>
        <div class="photo-message-div">
            <p>"Create a strong password and a more secure account"</p>
            <img id='second-photo' src='https://restoreprivacy.com/wp-content/uploads/2019/11/Best-Password-Manager.png' />
        </div>
    </main>
</body>
</html>